@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Noto+Sans+Thai+Looped:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+Thai:wght@100..900&display=swap");

:root {
  --primary: #ff8787;
  --secondary: #a8a8a8;
  --dark-gray: #3e3e3e;
  --gray: #a8a8a8;
  --light-gray: #f1f4f7;
  --light: #eeeeee;
  --white: #fffbfb;
  --dark: #181a20;
  --text: #212121;
  --success: #afe385;
  --success-light: rgba(175, 227, 133, 0.3);
  --warning: #ffe587;
  --info: #85c1e3;
  --danger: #ff8787;
  --danger-light: rgba(255, 135, 135, 0.3);
  --border-button: 20rem;
  --border-main: 1rem;
  --shadow-main: 0 2px 2px rgba(0, 0, 0, 0.25);
}

* {
  font-size: 14px;
  font-family: " Inter", "Noto Sans Thai Looped", sans-serif;
  box-sizing: border-box;
  color: var(--text);
  font-weight: 400;
  scroll-behavior: smooth;
  transition: 0.3s;
}

.v-application--wrap {
  background-color: var(--light) !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
thead {
  font-family: "Inter", "Noto Sans Thai", sans-serif !important;
  font-weight: 800 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

h1.heading-1 {
  font-size: calc(1.625rem + 4.5vw);
}

h2.heading-2 {
  font-size: calc(1.575rem + 3.9vw);
}

h3.heading-3 {
  font-size: calc(1.525rem + 3.3vw);
}

h4.heading-4 {
  font-size: calc(1.475rem + 2.7vw);
}

h5.heading-5 {
  font-size: calc(1.425rem + 2.1vw);
}

h6.heading-6 {
  font-size: calc(1.375rem + 1.5vw);
}

i.fa-solid:hover {
  color: var(--primary) !important;
}

/* Navbar customization */
.navbar .nav-item .nav-link {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

/* Carousel */
.carousel-image {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: var(--border-button);
  object-position: 80% 100%;
  padding: 0px 3px;
}

.carousel-image-2 {
  min-height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: var(--border-button);
  object-position: 80% 100%;
  padding: 0px 3px;
}

.carousel-caption h2 {
  /* text-align: left; */
  color: var(--primary);
  text-shadow: 5px 3px 10px rgba(0, 0, 0, 0.5);
}

@keyframes scroll-horizontal {
  0% {
    left: 100%;
  }

  100% {
    left: -100%;
  }
}

/* Bootstrap */
.text-white {
  color: var(--white) !important;
}
.text-success {
  color: var(--success) !important;
}
.text-warning {
  color: var(--warning) !important;
}
.text-danger {
  color: var(--danger) !important;
}
.text-info {
  color: var(--info) !important;
}

a.text-white:hover {
  color: var(--primary) !important;
}

.text-dark {
  color: var(--text) !important;
}

.text-secondary {
  color: var(--gray) !important;
}

.text-primary {
  color: var(--primary) !important;
}
a.text-primary:hover {
  color: var(--primary) !important;
}

pre code a {
  color: var(--info) !important;
}

.btn {
  border-radius: var(--border-button);
  font-weight: 700;
  padding: 10px 25px !important;
}

.bg-text {
  background-color: var(--text) !important;
}

.bg-warning {
  background-color: var(--warning) !important;
}

.bg-dark,
.btn-dark {
  background-color: var(--dark) !important;
}

.bg-light {
  background-color: var(--light-gray) !important;
}

.bg-white {
  background-color: var(--white) !important;
}

.bg-primary,
.btn-primary {
  background-color: var(--primary) !important;
  border: 2px solid var(--primary) !important;
  color: var(--text) !important;
}

.btn-outline-primary {
  border: 2px solid var(--primary) !important;
  color: var(--primary) !important;
}

.btn-primary:hover {
  background-color: var(--gray);
  border: 2px solid var(--gray);
  color: var(--white) !important;
}

.btn-outline-primary:hover {
  background-color: var(--primary);
  border: 2px solid var(--primary);
  color: var(--white) !important;
}

.btn-success {
  background-color: var(--success) !important;
  border: 2px solid var(--success) !important;
  color: var(--text) !important;
}

.btn-success-wh {
  background-color: var(--success) !important;
  border: 2px solid var(--success) !important;
  color: var(--white) !important;
}

.btn-info {
  background-color: var(--info) !important;
  border: 2px solid var(--info) !important;
  color: var(--white);
}

.btn-danger {
  background-color: var(--danger) !important;
  border: 2px solid var(--danger) !important;
  color: var(--white);
}

.bg-success {
  background-color: var(--success) !important;
}

.bg-success-light {
  background-color: var(--success-light);
}

.bg-danger {
  background-color: var(--danger) !important;
}

.bg-danger-light {
  background-color: var(--danger-light);
}

.btn-success:hover {
  background-color: var(--gray);
  border: 2px solid var(--gray);
  color: var(--white) !important;
}

.btn-success-wh:hover {
  background-color: transparent !important;
  color: var(--text) !important;
}

.btn-outline-success {
  border: 2px solid var(--success) !important;
  color: var(--text) !important;
}

.btn-outline-success:hover {
  background-color: var(--success);
  border: 2px solid var(--success);
  color: var(--white) !important;
}

.btn-info:hover {
  background: transparent !important;
  border-color: var(--info) !important;
  color: var(--text) !important;
}

.btn-danger:hover {
  background: transparent !important;
  border-color: var(--danger) !important;
  color: var(--text) !important;
}

.bg-gray {
  background-color: var(--secondary);
}

.border-top {
  border-color: var(--dark-gray) !important;
}

.rounded-main {
  border-radius: var(--border-main);
}

.form-control {
  border-radius: var(--border-button);
  border-color: var(--primary);
  background-color: transparent;
  padding: 0.5rem 1rem;
}

.accordion-button,
.accordion-item {
  background-color: transparent !important;
}

.accordion-item {
  border: 0;
}

.accordion-body {
  border-radius: 0 0 1rem 1rem;
}

.accordion-button:not(.collapsed) {
  background-color: var(--white) !important;
  color: var(--primary) !important;
}

.card {
  border-radius: var(--border-main) !important;
  /* box-shadow: var(--shadow-main) !important; */
}

.card-header {
  border-radius: 1rem 1rem 0 0 !important;
}

.card-footer {
  border-radius: 0 0 1rem 1rem !important;
}

.shadow-main {
  box-shadow: var(--shadow-main) !important;
}

.navbar-toggler {
  border: 1px solid var(--white);
}
/* 
.navbar-toggler-icon {
  background-image: url('../svg/burger-menu.svg');
} */

.navbar ul.navbar-nav li.nav-item a.nav-link.active {
  color: var(--primary);
}

.navbar ul.navbar-nav li.nav-item a.nav-link,
.navbar ul.navbar-nav li.nav-item span.nav-link,
.navbar ul.navbar-nav li.nav-item a.nav-link i {
  color: var(--text);
}

/* .dropdown-menu {
  background-color: var(--text);
} */

.dropdown-menu li a:hover {
  background-color: transparent;
}

footer .nav-link a,
footer span.nav-link,
footer .nav-link i {
  color: var(--gray);
  text-decoration: none;
}

footer .nav-link :hover {
  color: var(--text);
}





/* Font Awesome */
.fa-2xl {
  font-size: calc(1.575rem + 3.9vw) !important;
}







/* Vuetify */
.theme--light.v-divider {
  border-color: var(--gray) !important;
}

.theme--dark.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active) {
  font-weight: 300 !important;
}

.v-tab--active {
  color: var(--primary) !important;
  font-weight: 800 !important;
}

.v-tab:before,
.v-tabs-slider-wrapper {
  background-color: var(--primary) !important;
}

.v-application .primary {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}

.v-window {
  height: 400px !important;
}

/* .theme--light.v-sheet {
  background: transparent !important;
} */

.v-application .elevation-1 {
  box-shadow: none !important;
}

.v-sheet.v-card:not(.v-sheet--outlined) {
  border-radius: var(--border-main) !important;
  box-shadow: var(--shadow-main) !important;
}

.v-application ul,
.v-application ol {
  padding-left: 0;
}

.theme--light.v-expansion-panels .v-expansion-panel {
  background-color: transparent !important;
}

.v-application .elevation-10 {
  box-shadow: none !important;
}

ol.breadcrumb {
  padding: 18px 0;
  margin-bottom: 0;
}

a.v-breadcrumbs__item,
.breadcrumb-item a,
.breadcrumb-item + .breadcrumb-item::before {
  color: var(--secondary) !important;
  text-decoration: none !important;
}

div.v-breadcrumbs__item,
.breadcrumb-item.active span {
  color: var(--primary) !important;
}

button.v-pagination__item .v-pagination__item--active .red {
  background-color: var(--danger) !important;
}

.v-btn-toggle:not(.v-btn-toggle--dense) .v-btn.v-btn.v-size--default {
  height: 38px !important;
  min-width: 24px !important;
}







/* Custom */
.category {
  background-color: var(--success);
  color: var(--text);
  border-radius: var(--border-button);
  padding: 0 1rem;
  display: inline-flex;
  align-items: center;
}

.home-hero-image {
  border-radius: 0.5rem 10rem 0.5rem 0.5rem;
  width: 100%;
  height: fill;
}

.home-hero-image-2 {
  border-radius: 0.5rem 0.5rem 10rem 0.5rem;
  width: 100%;
  height: fill;
}

.card-detail {
  border-radius: 0.5rem 10rem 0.5rem 0.5rem !important;
}

.random-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 50% 50%;
}

.links {
  text-decoration: none;
}

.links:hover {
  color: var(--white) !important;
}

.login-bg:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background-image: url("https://media.istockphoto.com/id/475511846/vector/kitchen-seamless-pattern-vector-background.jpg?s=612x612&w=0&k=20&c=inpW5Mc2MFyuc7PsMXVY49OUBU39EXekcCNe8xVeI_k=");
  width: 100%;
  background-repeat: repeat;
}

.hero-bg:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 12vh;
  width: 100%;
  height: 300px;
  opacity: 1;
  background-image: url("https://wallpapers.com/images/featured/food-4k-1pf6px6ryqfjtnyr.jpg");
  width: 100%;
  background-repeat: repeat;
}

.hero-bg-2:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 18vh;
  width: 100%;
  height: 300px;
  background-color: var(--success-light);
  width: 100%;
  background-repeat: repeat;
}

.img-cart {
  width: 25vh;
  min-width: 100px;
  height: 25vh;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: var(--border-main);
}

a .text-secondary:hover {
  color: var(--dark-gray) !important;
}

/* ENDLESS ROTATE */
.rotate {
  animation: rotate 8s linear infinite;
}
.start-end {
  animation: loader 1s infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    translate: 0px 0px;
  }
  100% {
    translate: 20px 0px;
    rotate: -45deg;
  }
}

/* Responsive */
@media screen and (max-width: 576px) {
  .exc-image,
  .random-img {
    height: 200px;
  }
  .img-cart {
    height: 50px;
  }
}

@media screen and (max-width: 768px) {
  .img-cart {
    height: 150px;
  }
}

@media screen and (max-width: 992px) {
  .random-img {
    height: 250px;
  }
}

@media screen and (max-width: 1200px) {
  .img-cart {
    height: 200px;
  }
}
